<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>cart-war1</display-name>
  <servlet>
    <servlet-name>TestCartServlet1</servlet-name>
    <servlet-class>javaeetutorial.cart.war1.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCartServlet1</servlet-name>
    <url-pattern>/TestCartServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestEJBServlet1</servlet-name>
    <servlet-class>javaeetutorial.cart.war1.TestEJBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEJBServlet1</servlet-name>
    <url-pattern>/TestEJBServlet1</url-pattern>
  </servlet-mapping>
</web-app>
