<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="bes-servlet-web"
         version="2.5" metadata-complete="true">
  <display-name>cart-war1</display-name>
  <servlet>
    <servlet-name>TestCartServlet1</servlet-name>
    <servlet-class>javaeetutorial.cart.war1.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCartServlet1</servlet-name>
    <url-pattern>/TestCartServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestEJBServlet1</servlet-name>
    <servlet-class>javaeetutorial.cart.war1.TestEJBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEJBServlet1</servlet-name>
    <url-pattern>/TestEJBServlet1</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>TestFilter</filter-name>
    <filter-class>javaeetutorial.cart.war2.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


</web-app>
